fastapi
uvicorn[standard]
websockets
groq
cohere
python-dotenv
requests
beautifulsoup4
duckduckgo-search
ddgs
tavily-python
edge-tts
pygame
Pillow
pywhatkit
AppOpener
keyboard
mtranslate
selenium
webdriver-manager
numpy
scipy
PyQt5